<?xml version="1.0" encoding="UTF-8"?>
<Configuration
	packages="org.rogatio.remarkable" status="INFO">
	<Appenders>
		<TerminalAppender name="TerminalAppender" />
		<ServletAppender name="ServletAppender" />
	</Appenders>
	<Loggers>

		<Logger name="org.eclipse.jetty" level="INFO" />

		<Logger name="jakarta.servlet" level="INFO" />

		<Root level="DEBUG">
			<AppenderRef ref="TerminalAppender" />
			<AppenderRef ref="ServletAppender" />
		</Root>
	</Loggers>
</Configuration>