<?xml version="1.0" encoding="UTF-8"?>
<Configuration
	packages="org.rogatio.remarkable.console" status="INFO">
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="FileAppender"
			fileName="application-${date:yyyyMMdd}.log" immediateFlush="false"
			append="true">
			<PatternLayout
				pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<TerminalAppender name="TerminalAppender" />
		<ServletAppender name="ServletAppender" />
	</Appenders>
	<Loggers>

		<Logger name="org.eclipse.jetty" level="INFO" />

		<Logger name="jakarta.servlet" level="INFO" />

		<Root level="DEBUG">

			<!-- <AppenderRef ref="ConsoleAppender" /> -->

			<AppenderRef ref="FileAppender" />

			<AppenderRef ref="TerminalAppender" />

			<AppenderRef ref="ServletAppender" />

		</Root>
	</Loggers>
</Configuration>