body {
	font-family: verdana, sans-serif;
}

table {
	float: left;
	margin-right: 10px;
}

img {
	border: 1px solid #cccccc;
}

.title {
	text-align: center;
	font-weight: bold;
}

.pages {
	text-align: center;
	font-size: small;
}

a {
	text-decoration: none;
	color: gray;
}

.downloads {
	text-align: center;
	font-size: small;
	color: gray;
}

svg {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}